<div class="header">

	<h1>Youth Space</h1>

	<!-- navigation goes here -->


<div id='cssmenu'>
<ul>
   <li class='active'><a href='index.html'><span>#</span></a></li>
   <li class='has-sub'><a href='#'><span>#</span></a>
      <ul>
         <li><a href='#'><span>#</span></a></li>
         <li><a href='#'><span>#</span></a></li>
         <li class='last'><a href='#'><span>#</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>#</span></a>
      <ul>
         <li><a href='#'><span>About</span></a></li>
         <li class='last'><a href='#'><span>#</span></a></li>
      </ul>
   </li>
   <li class='last'><a href='#'><span>#</span></a></li>
</ul>
</div

</div>